.comments-section {
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  margin: auto;
  width: 100%;
  padding: 10px;
}

#comment-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#comments-h2 {
  font-family: Georgia;
  font-weight: 900;
  color: black;
  font-size: 4rem;
}

#comment-card {
  color: var(--navy);
  font-family: Georgia;
  font-weight: 900;
  width: 80%;
  /* box-shadow: 0px 3px 5px 3px black; */
  border-radius: 10px;
  transition: all ease 0.3s;
}

#comment-card-internal {
  background-color: #2191fb;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #29335c;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 5%;
  font-size: 1rem;
  margin: 2%0%;
  box-shadow: 0px 3px 5px 3px black;
}

#no-comments-text {
  color: #860186;
  list-style-type: none;
  background-color: #fcdea6;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 0.1%;
  padding: 2%;
  border-radius: 30px;
  border: 5px solid #ff9671;
  font-family: Georgia;
  font-weight: 900;
  width: 90%;
}

#no-comments-info {
  font-family: Georgia;
  font-size: 4vw;
  font-weight: 900;
}

#loading-text {
  color: #860186;
  list-style-type: none;
  background-color: #fcdea6;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 0.1%;
  padding: 2%;
  border-radius: 30px;
  border: 5px solid #ff9671;
  font-family: Georgia;
  font-weight: 900;
  width: 90%;
}

#comment-comment-id {
  font-size: 2rem;
  padding: 0.5%;
  margin-top: 2%;
}

#comment-review-id {
  font-size: 2rem;
  padding: 0.5%;
}

#comment-votes {
  font-size: 3.5vw;
  padding: 0.5%;
}

#comment-author {
  font-size: 2rem;
  margin-top: 1%;
}

#comment-created {
  font-size: 2rem;
  padding: 0.5%;
}

#comment-body {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

/* #comment-grid-container {
  display: grid;
  grid-template: min-content;
  grid-template-columns: auto auto;
  padding: 5%;
  margin: auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
} */
