#comment-input-container {
  margin: auto;
  padding: 5%;
  font-family: Georgia;
  font-weight: 900;
  width: 90%;
}

#newComment {
  background-color: white;
  display: block;
  border: 5px solid #ff6f91;
  border-radius: 30px 30px 30px 2px;
  padding: 4%;
  width: 100%;
  font-family: Georgia;
  font-weight: 900;
  font-size: 1.5rem;
  overflow: auto;
  cursor: pointer;
}

#post-comment-button {
  border-radius: 5px;
  margin: 1%;
  min-width: 30%;
  max-width: 50%;
  font-size: 5vw;
  color: #860186;
  margin: auto;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

#add-comment-text {
  font-size: 2rem;
}

#post-comment-as-text {
  margin-top: 2%;
  font-size: 2rem;
}
