.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
}

.reviews-h1 {
  margin: 20px;
  font-size: 3rem;
  font-weight: 800;
}

.reviews-cont {
  border: 2px solid black;
  padding: 5px;
  background-color: #fcdea6;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: center;
  margin: 2% 5%;
}

.review-card {
  color: var(--navy);
  font-family: Georgia;
  font-weight: 900;
  width: 100%;
  height: 500px;
  box-shadow: 0px 3px 5px 3px #220c10;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

.review-card:hover {
  transform: scale(1.05);
  animation: pulse infinite 1.5s ease-in-out;
  transition: all ease-in-out 0.2s;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 3px white;
  }

  50% {
    box-shadow: 0px 0px 5px 4px white;
  }
  100% {
    box-shadow: 0px 0px 5px 3px white;
  }
}

.title-cont {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#review-title {
  color: white;
  align-self: center;
  font-size: 1.2rem;
  margin: 3% 0%;
}

#review-designer {
  font-size: 1rem;
  margin: 2% 0%;
  color: white;
}

#review-category {
  font-size: 1rem;
  color: white;
  position: relative;
  width: 100%;
}

.click-for-more {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

#review-card-internal {
  background-color: #2191fb;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #29335c;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

#votes {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

#review-vote-container {
  padding: 2%;
}

#review-id {
  display: inline-block;
  padding-bottom: 5%;
  font-size: 5.5vw;
}

#review-img {
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.review-card-link {
  text-decoration: none;
}

.comments-link {
  font-size: 1rem;
}

#reviews-h2 {
  font-family: Georgia;
  font-weight: 900;
  color: #220c10;
  font-size: 6vw;
}

#loading-text {
  color: #220c10;
  list-style-type: none;
  background-color: #fcdea6;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 0.1%;
  padding: 2%;
  border-radius: 30px;
  border: 5px solid #ff9671;
  font-family: Georgia;
  font-weight: 900;
  width: 90%;
}

.review-vote-button {
  border-radius: 5px;
  margin: 1%;
  min-width: 30%;
  max-width: 50%;
  font-size: 5vw;
  cursor: pointer;
}

#reviews-down-vote {
  margin-bottom: 5%;
  margin-top: 1%;
}
