* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(152, 149, 149);
  --blue: #2191fb;
  --navy: #29335c;
  --orange: #e4572e;
}

.page-container {
  /* max-width: 1350px;
  width: 1350px;
  margin: auto; */

  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1504px;
  margin-right: auto;
  margin-left: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @font-face{
  font-family: ;
  src: url()
} */

#header-title {
  font-family: Baskerville;
  font-weight: 900;
  font-size: 4em;
  margin: 0px 10px 0px 10px;
  padding-top: 5px;
  color: #05668d;
}
