#category-list-card {
  background-color: #fcdea6;
  margin: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 5%;
  padding-top: 3%;
  border-radius: 30px;
  border: 5px solid #ff9671;
}

#category-list-card * {
  color: #860186;
  margin: auto;
  font-family: Georgia;
  font-weight: 900;
  width: 90%;
}

#category-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#categories-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#category-title {
  color: #d037a2;
  align-self: center;
  display: inline-block;
  margin: auto;
  margin-bottom: 6%;
  margin-top: 2%;
  font-size: 3vw;
  word-wrap: break-word;
}

#category-description {
  font-size: 2vw;
}

#categories-h2 {
  font-family: Georgia;
  font-weight: 900;
  color: #860186;
  font-size: 6vw;
  margin-bottom: 1.5%;
}

.category-link {
  text-decoration: none;
}
