#landing-title {
}

#landing-body {
  background-color: #e4572e;
  border: 1px solid #29335c;
  color: #29335c;
  display: block;
  border-radius: 30px;
  margin: auto;
  padding: 5%;
  margin-top: 3%;
  width: 100%;
  font-family: Georgia;
  font-weight: 900;
  font-size: 2em;
  box-shadow: 0px 3px 5px 1px #e4572e;
}

#landing-p1 {
  margin: 2%;
}
