.review-card {
  margin: 10px 10px 10px 10px;
  padding: 30px;
  padding-top: 10px;
  border-radius: 30px;
  border: 5px solid #ff9671;
}

.review-card * {
  margin: 10px;
  font-family: Georgia;
  font-weight: 900;
}

#review-title {
  color: #d65db1;
  align-self: center;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 0.5%;
}

#review-designer {
  font-size: small;
  margin-bottom: 1%;
}

#review-img {
}

#review-category {
  margin-bottom: 1%;
}

#review-card-internal {
  border: 5px solid #ff6f91;
  border-radius: 30px 10px;
  padding: 3%;
  margin: 5%;
  margin-top: 3%;
}

#comment-count {
}

#votes {
}

#review-id {
  display: inline-block;
  padding-bottom: 10px;
  float: left;
}

#review-img {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

#review-card-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
